/* https://fonts.google.com/specimen/Open+Sans?query=open+sans#standard-styles */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #58585a;
}

header {
    background-color: #f4f2ef;
    color: #5b4129;
}

footer {
    background-color: #666;
    color: white;
    text-align: center;
    padding: 30px;
}

nav > ul {
    list-style: none;
    padding: 0;
    line-height: 30px;
    margin: 0 10px;

    display: flex;
    width: 100%;
}

nav > ul > li {
    flex-grow: 1;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
}

main {
    flex-grow: 1;
}

main {
    width: 100%;
    max-width: 980px;
    margin: 10px auto;
}

p {
    margin-top: 0;
}

.two-columns {
    column-count: 2;
    column-fill: auto;
}

.header-wrapper {
    width: 100%;
    max-width: 980px;
    margin: 10px auto;
}

.header-title {
    font-size: 1em;
}

.header-title .my-name {
    color: #4779bd;
    font-size: 16px;
}

.header-content {
    display: flex;
    margin-bottom: 30px;
}

.header-content > p {
    margin: 0 20px;
    flex: 1;
}

.header-content > p::first-letter {
    font-size: 18px;
    font-weight: 600;
}

.footer-social ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.testimonials {
    display: flex;
}

.testimonial {
    flex: 1;
}

.testimonial:nth-child(odd) {
    margin-right: 15px;
}

.testimonial:nth-child(even) {
    margin-left: 15px;
}

.testimonial-header {
    display: flex;
    margin-bottom: 15px;
}

.testimonial-header__image {
    width: 75px;
    line-height: 75px;
    background-color: #666;
    color: white;
    text-align: center;
}

.testimonial-header__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
    flex: 1;
}

.testimonial-header__info--name {
    font-weight: 600;
}

.testimonial-quote {
    font-style: italic;
}

/** Tabs **/

nav {
    margin: 10px 0;
    border-bottom: 5px solid #4779bd;
}

.tab-list {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
}

.tab {
    background-color: white;
    line-height: 1em;
    font-weight: 600;
    font-size: 14px;
    border-radius: 15px 15px 0 0;
    border-top: 1px solid #4779bd;
    border-right: 1px solid #4779bd;
    padding: 0 10px;
    flex: 1;
}

.tab:first-child {
    border-left: 1px solid #4779bd;
}

.tab a {
    color: #9d8978;
    display: block;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 5px;
}

.tab.selected {
    background-color: #4779bd;
    color: white;
}

.tab.selected a {
    color: white;
}

.tab-content {
    display: none;
}

.tab-content.selected {
    display: block;
}
