/* https://fonts.google.com/specimen/Open+Sans?query=open+sans#standard-styles */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

/* https://fonts.google.com/specimen/Architects+Daughter?query=arch&sidebar.open&selection.family=Architects+Daughter */
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #58585a;
}

p {
    margin-top: 0;
}

/** Header **/

header {
    background-image: url("images/hero2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: auto;

    /* Mobile */
    margin-top: 75px;
}

@media (min-width: 768px) {
    header {
        margin-top: 0;
    }
}

.header-wrapper {
    display: flex;
    background-color: white;
    max-width: 600px;
    min-height: 100px;
    border-radius: 10px;
    border-color: #032d3e;
    margin: 30px auto;
    padding: 5px 15px;
}

.header-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-title {
    color: #032d3e;
    font-size: 16px;
    font-weight: 400;
    padding-left: 15px;

    flex: 1;
}

.header-title .my-name {
    color: #9b7f65;
    font-size: 35px;
    font-weight: 500;
    margin-left: 10px;
    margin-right: 10px;
    font-family: "Architects Daughter", cursive;
}

/** Footer **/

footer {
    background-color: #3a3a3c;
    color: white;
    text-align: center;
    padding: 20px;
}

.footer-title {
    color: #9ea0a3;
    font-size: 21px;
    font-weight: 600;
    text-transform: uppercase;
}

.footer-email {
    line-height: 2em;
}

.footer-email a {
    color: white;
    text-decoration: none;
}

.footer-social ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.footer-social .linkedin {
    fill: white;
}

/** Tabs **/

.tab-list {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    width: 100%;
    height: 75px;

    list-style: none;
    margin: 0;
    padding: 0;

    z-index: 999;
}

.tab-wrapper {
    flex: 1;
    background-color: #f3f1ee;
}

.tab {
    padding-top: 75px;
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;

    display: inline-block;
    width: 100%;
    height: 100%;

    border-bottom: 5px solid #e3e2df;
}

.tab-wrapper.selected .tab {
    border-bottom: 5px solid #6c8abe;
}

.tab-text {
    display: none;
}

.tab__recent-projects .tab {
    background-image: url("images/server-outline.svg");
}

.tab__recent-projects.selected .tab {
    background-image: url("images/server-sharp--mobile.svg");
}

.tab__ui-ux-process .tab {
    background-image: url("images/git-compare-outline.svg");
}

.tab__ui-ux-process.selected .tab {
    background-image: url("images/git-compare-sharp--mobile.svg");
}

.tab__testimonials .tab {
    background-image: url("images/chatbubbles-outline.svg");
}

.tab__testimonials.selected .tab {
    background-image: url("images/chatbubbles-sharp--mobile.svg");
}

.tab__my-work .tab {
    background-image: url("images/folder-outline.svg");
}

.tab__my-work.selected .tab {
    background-image: url("images/folder-sharp--mobile.svg");
}

.tab__about-me .tab {
    background-image: url("images/finger-print-outline.svg");
}

.tab__about-me.selected .tab {
    background-image: url("images/finger-print-sharp--mobile.svg");
}

.tab-content {
    display: none;
}

.tab-content.selected {
    display: block;
}

@media (min-width: 768px) {
    .tab-list {
        max-width: 980px;
        margin: 0 auto;

        line-height: 30px;

        height: unset;
        position: relative;
    }

    .tab-wrapper {
        background-color: unset;
        display: inline-block;
        text-align: center;
    }

    .tab {
        text-decoration: none;

        height: unset;
        display: flex;
        flex-direction: column;

        background-position: top center;
        border: none;
    }

    .tab-text {
        text-transform: uppercase;

        background-color: #032d3e;
        line-height: 1em;
        font-weight: 600;
        font-size: 14px;
        border-radius: 15px 15px 0 0;
        border-top: 2px solid #9b7f65;
        border-right: 2px solid #9b7f65;

        color: #9b7f65;
        display: block;
        padding: 10px 10px 5px 10px;

        flex: 1;
    }

    .tab-wrapper:first-child .tab-text {
        border-left: 1px solid #4779bd;
    }

    .tab-wrapper.selected .tab {
        border: none;
    }

    .tab-wrapper.selected .tab-text {
        background-color: white;
        color: #05223b;
    }

    .tab__recent-projects.selected .tab {
        background-image: url("images/server-sharp.svg");
    }

    .tab__ui-ux-process.selected .tab {
        background-image: url("images/git-compare-sharp.svg");
    }

    .tab__testimonials.selected .tab {
        background-image: url("images/chatbubbles-sharp.svg");
    }

    .tab__my-work.selected .tab {
        background-image: url("images/folder-sharp.svg");
    }

    .tab__about-me.selected .tab {
        background-image: url("images/finger-print-sharp.svg");
    }
}

/** Content **/

main {
    flex-grow: 1;
    width: 100%;
    max-width: 768px;
    margin: 10px auto;
}

h2 {
    color: #032d3e;
    text-transform: uppercase;
    text-align: center;
}

h3 {
    color: #723d46;
    margin-top: 20px;
    text-align: center;
}

.screenshot {
    width: 100%;
    position: relative;
}

.icon {
    width: 100px;
    margin: 10px auto;
    display: block;
}

@media (min-width: 512px) {
    .two-columns {
        column-count: 2;
        column-fill: balance;
    }
}

.project-roles,
.dashboard-features {
    color: #55828b;
    font-weight: 600;
    line-height: 3em;
    margin-bottom: 80px;
}

/** My UI/UX Process **/

#ui-ux-process h3 {
    color: #723d46;
    font-size: 20px;
    font-weight: 400;
    margin-top: 100px;
    margin-bottom: 30px;
}

#ui-ux-process h3:before {
    color: white;
    background-color: #723d46;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    font-weight: 600;
    margin-right: 10px;
}

.ui-ux--1:before {
    content: "1";
}

.ui-ux--2:before {
    content: "2";
}

.ui-ux--3:before {
    content: "3";
}

.ui-ux--4:before {
    content: "4";
}

.ui-ux--5:before {
    content: "5";
}

.ui-ux--quote {
    color: #55828b;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.ui-ux--quote:before,
.ui-ux--quote:after {
    content: '"';
    font-size: 18px;
}

.ui-ux--feature-requests li {
    color: #55828b;
    margin-bottom: 20px;
}

.ui-ux--persona-list {
    display: flex;
}

.ui-ux--persona {
    flex: 1;
    margin-left: 20px;
    color: white;
    text-align: center;
    background-color: #55828b;
    padding: 5px 10px 20px 10px;
}

.ui-ux--persona:first-child {
    margin-left: 0;
}

.ui-ux--persona:nth-child(1) {
    background-color: #9499ba;
}

.ui-ux--persona:nth-child(2) {
    background-color: #646069;
}

.ui-ux--persona:nth-child(3) {
    background-color: #6b87a1;
}

.ui-ux--persona dt {
    font-weight: 600;
    margin-bottom: 20px;
    padding-top: 40px;

    background-image: url("images/personicons.svg");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: top center;
}

.ui-ux--persona dd {
    margin: 0;
    font-size: 13px;
}

/** Testimonials **/

.testimonials {
    display: flex;
}

.testimonial,
.testimonial-wrapper {
    flex: 1;
}

.testimonial-wrapper {
    margin-left: 20px;
}

.testimonial-header {
    display: flex;
    margin-bottom: 15px;
}

.testimonial-header__image img {
    width: 75px;
    border-width: 2px;
    border-color: #4779bd;
    border-radius: 51%;
    border-style: solid;
}

.testimonial-header__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
    flex: 1;
}

.testimonial-header__info--name {
    font-weight: 600;
}

.testimonial-quote {
    font-style: italic;
}

/** Additional Work **/

.work-wrapper {
    margin-bottom: 50px;
}

@media (min-width: 768px) {
    .work-wrapper {
        display: flex;
    }
}

.logo {
    margin: 0 auto;
    height: 200px;
    width: 200px;
}

@media (min-width: 768px) {
    .logo {
        margin: 0;
    }
}

.logo img {
    opacity: 0.9;
}

.logo img:hover {
    opacity: 1;
    transform: scale(0.9);
    transition: transform 0.5s, opacity 0.5s;
}

.work-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.work-text-wrapper p {
    padding-left: 20px;
}

/** Fun Facts **/

.fun-fact-list {
    margin: 50px auto;
    padding: 0;
    list-style: none;
    position: relative;

    width: 100%;
    max-width: 512px;
}

.fun-fact-list::after {
    content: "";

    background-image: url("images/earth.svg");
    background-position: center center;
    background-size: 75%;
    background-repeat: no-repeat;

    opacity: 0.2;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: -2;
}

.fun-fact {
    text-align: center;
    width: 100%;
    max-width: 384px;
    padding: 10px;
    margin: 30px auto;
}

.fun-fact:nth-child(1) {
    color: #723d46;
}

.fun-fact:nth-child(2) {
    color: #55828b;
}

.fun-fact:nth-child(3) {
    color: #9b7f65;
}

.fun-fact:nth-child(4) {
    color: #723d46;
}

.fun-fact:nth-child(5) {
    color: #55828b;
}

.fun-fact:nth-child(6) {
    color: #9b7f65;
}

@media (min-width: 768px) {
    .fun-fact-list {
        width: 512px;
        height: 512px;
        border-radius: 50%;
        border-style: dashed;
        border-width: 3px;
        border-color: #4779bd;
        position: relative;
    }

    .fun-fact-list::before {
        content: unset;
    }

    .fun-fact-list::after {
        opacity: 1;
        background-size: 50%;
    }

    .fun-fact {
        position: absolute;
        left: calc(50% - 100px);

        background: white;
        text-align: center;
        width: 200px;
        padding: 10px;
        font-size: 12px;
    }

    /* Bottom Half */
    .fun-fact:nth-child(1) {
        bottom: calc(50% - 40px);
        transform: rotate(30deg) translate(256px) rotate(-30deg);
    }

    .fun-fact:nth-child(2) {
        bottom: calc(50% - 40px);
        transform: rotate(90deg) translate(256px) rotate(-90deg);
    }

    .fun-fact:nth-child(3) {
        bottom: calc(50% - 40px);
        transform: rotate(150deg) translate(256px) rotate(-150deg);
    }

    /* Top Half */
    .fun-fact:nth-child(4) {
        top: calc(50% - 40px);
        transform: rotate(210deg) translate(256px) rotate(-210deg);
    }

    .fun-fact:nth-child(5) {
        top: calc(50% - 40px);
        transform: rotate(270deg) translate(256px) rotate(-270deg);
    }

    .fun-fact:nth-child(6) {
        top: calc(50% - 40px);
        transform: rotate(330deg) translate(256px) rotate(-330deg);
    }
}

/** Construction Styles **/

.placeholder {
    background-image: url("https://bestanimations.com/Site/Construction/Construction-16-june.gif");
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    width: 500px;
    border: 1px solid black;
    margin: 50px auto;
}

/*** Slider Testing ***/

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    margin-top: -25px;
}

/* Slideshow Slide */
.slideshow-slide {
    display: none;
}

.slideshow-slide.active {
    display: block;
}

/* Next & previous buttons */
.slideshow-prev,
.slideshow-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #7ba7e2;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.slideshow-next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.slideshow-prev:hover,
.slideshow-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.slideshow-text {
    color: #383a3b;
    font-size: 15px;
    padding: 12px;
    position: absolute;
    bottom: -30px;
    width: 100%;
    text-align: center;
}

.slideshow-dots {
    text-align: center;
    margin-bottom: 100px;
}

/* The dots/bullets/indicators */
.slideshow-dot {
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;

    border: none;
    padding: 0;
    outline: none;
}

.slideshow-dot:hover {
    cursor: pointer;
}

.active,
.slideshow-dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}
